html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 3rem 0 2rem 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 26px;
}